<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The androidTest manifest's applicationId is *.debug.test; this permission belongs to the tested *.debug app. -->
    <uses-permission android:name="com.sanka1610.reprodroid.debug.permission.PHASE48_AUDIT_TEST_DESTINATION" />
</manifest>
